* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #121212 !important;
   width: 100%;
   overflow-x: hidden;
}



#foto-perfil{
    position: relative;
    height: 200px;
    width: 230px;
    top: 70px;
    left: 120px;
    max-width: 100%;
    opacity: 0;
    transform: translateY(50px);
    animation: riseUp 1s ease-out forwards;
}
@keyframes riseUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}




#nome{
    position: relative;
    color: white;
    left: 360px;
    font-size: 28px;
    top: -100px;    
    opacity: 0;
    transform: translateY(50px);
    animation: riseUp 1s ease-out forwards;
}



#cargo{
    position: relative;
    font-size: 20px;
    top: -90px;
    left: 360px;
    color: white;
    opacity: 0;
    transform: translateY(50px);
    animation: riseUp 1s ease-out forwards;
}

#setor{
    position: relative;
    font-size: 20px;
    top: -80px;
    left: 360px;
    color: white;
    opacity: 0;
    transform: translateY(50px);
    animation: riseUp 1s ease-out forwards;
}



#ativo{
    position: relative;
    top: -290px;
    left: 1100px;
    font-size: 15px;
    color: white;
    opacity: 0;
    transform: translateY(50px);
    animation: riseUp 1s ease-out forwards;
}

/*.barra-superior{
    background-color:transparent;
    height: 50px;
    position: relative;
    top: -320px;
    border: 1px white solid;
}*/

.linha1{
    background-color: rgb(56, 56, 56);
    height: 1px;
    width: 1370px;
    position: relative;
    top: -320px;
}

.linha2{
    background-color: rgb(56, 56, 56);
    height: 1px;
    width: 1370px;
    position: relative;
    top: -280px;
}


#caixa{
    position: relative;
    top: -315px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 530px;
    width: 280px;
    border: 1 solid white ;
    background-color: transparent;
    border-radius: 7px;
    opacity: 0;
    transform: translateY(50px);
    animation: riseUp 1s ease-out forwards;
    color: white;
}

#caixa::placeholder{
    position: absolute;
    left: 10px !important;
    color: white !important;

}



#tempo{
    position: relative;
    top: -290px;
    left: 100px;
    color: white;
    opacity: 0;
    transform: translateY(50px);
    animation: riseUp 1s ease-out forwards;
}


.list-group{
    position: relative;
    left: -460px;
    height: 50px;
    top: -15px;
    opacity: 0;
    transform: translateY(50px);
    animation: riseUp 1s ease-out forwards;
}


.list-group-item {
    width: 340px;
    background-color: rgb(141, 141, 141);
}


#label{
    position: relative;
    top: -208px;
    left: 590px;
    font-size: 25px;
    color: white;
    opacity: 0;
    transform: translateY(50px);
    animation: riseUp 1s ease-out forwards;
}


.linha-aviso{
    height: 1px;
    width: 1370px;
    background-color: rgb(56, 56, 56);
    position: relative;
    top: -200px;
}

.linha-aviso2{
    height: 1px;
    width: 1370px;
    background-color: rgb(56, 56, 56);
    position: relative;
    top: -250px;
}


.usados{
    background-color: transparent;
    height: 200px;
    width: 260px;
    border-radius: 10px;
    position: relative;
    top: -480px;
    left: 1000px;
    border: 1px solid white;
}
#txt-usados{
    font-size: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: translateY(50px);
    animation: riseUp 1s ease-out forwards;
    color: white;
}


.imagens{
    top: 20px;
    opacity: 0;
    transform: translateY(50px);
    animation: riseUp 1s ease-out forwards;
}
#word{
    height: 40px;
    width:65px;
    position: relative;
    left: 10px;
}

#excel{
    height: 40px;
    width: 65px;
    position: relative;
    left: 20px;
}

#powerpoint{
    height: 40px;
    width: 65px;
    position: relative;
    left: 30px;
}



#icone-notificacao{
    height: 45px;
    width: 25px;
    position: relative;
    top: -130px;
    left: -950px;
    cursor: pointer;
    color: white;
    opacity: 0;
    transform: translateY(50px);
    animation: riseUp 1s ease-out forwards;
  }



  .bug a > svg{
    transform: scale(1.4);
        position: relative;
        top: -729px;
        left: 320px;
        cursor: pointer;
        fill: currentColor black;
        color: white;
        opacity: 0;
        transform: translateY(50px);
        animation: riseUp 1s ease-out forwards;
    }


    .sair a >svg{
        font-size: 18px;
        position: relative;
        left: 480px;
        top: -760px;
        cursor: pointer;
        text-decoration: none;
        color: white;
        height: 45px;
        width: 25px;
        opacity: 0;
        transform: translateY(50px);
        animation: riseUp 1s ease-out forwards;
    }
    


    .usados{
        opacity: 0;
        transform: translateY(50px);
        animation: riseUp 1s ease-out forwards;
    }